
body {
  font-family: 'Roboto', sans-serif;
  color: #384047;
}

/* Search Form*/

form {
  max-width: 400px;
  margin: auto;
  padding: 0 1em;
}

.Photos_wrapper {
  max-width: 980px;
  margin: auto;
  padding: 0 1em;
}

.Photos{
  width: 100%;
  border-radius: 3px;
  margin-bottom: 3em;
}

input {
  background: rgba(255,255,255,0.1);
  border: solid 3px rgba(255,255,255,0.1);
  border-radius: 3px;
  font-size: 16px;
  margin: 3em 0;
  outline: 0;
  padding: 15px 3%;
  width: 94%;
  background-color: #444;
  color: white;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  transition: background-color 2s;
  }

  input:focus {
    border: solid 3px orange;
    color: black;
    background-color: white;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder,
  textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
  input:focus:-ms-input-placeholder,
  textarea:focus::-moz-placeholder { color:transparent; }

@media (min-width: 375px) {

    .Photos{
      float: left;
      width: 40%;
      margin: 0 5% 3em 5%;
    }

  }

  @media (min-width: 640px) {

      .Photos{
        width: 25%;
        margin: 0 4% 3em 4%;
      }

    }

  @media (min-width: 980px) {

        .Photos{
          width: 20%;
          margin: 0 2.5% 3em 2.5%;
        }

      }
